/*Special thanks to Leram84 for helping create this.*/
/*Consider .FullPage-container-17Y0c ----> div[class*="FullPage-container"] if class names change on update.*/
.nav-bar>ul>li>a.plex-pass-btn{
    display:none;
    visibility: hidden;
    opacity:0;
}
/*Homepage, sidenav, and Body*/
button[class*="plexPassButton"]{    
    display:none;
    visibility: hidden;
    opacity:0;
}
@media only screen and (max-width: 768px) {
.DashboardPage-dashboardPageContent-2rN8X {
    padding: 0 20px 20px;
}
.SidebarList-sidebarListHeader-1t0yz {
    font-size: 10px;
}
.SidebarMenuButton-sidebarMenuButton-khx_P {
    font-size: 10px;
}
.SidebarContainer-sidebarContainer-2RAYT {
    width: 140px;
    flex: 0 140px;
    -webkit-flex: 0 0 140px;
}
.LibraryPageJumpBar-jumpBar-22VKU {
    display: none;
}
.MetadataListPageContent-metadataListScroller-1uFgY.MetadataListPageContent-hasGutter-1EfyE {
    right: 0;
}
.PageHeader-pageHeader-18RSw {
    font-size: 10px;
}
.HubCellHeader-hubCellHeader-2pvYN {
    padding: 10px 0 5px 5px;
}
.SidebarLink-sidebarLink-L2OPd {
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.SidebarList-sidebarListHeader-1t0yz {
    padding-left: 5px;
}
.SidebarMenuButton-sidebarMenuButton-khx_P {
    padding-left: 10px;
}
.SidebarMenuButton-sidebarMenuPrimaryTitleContainer-3-vDD {
    white-space: nowrap;
} 
body {
	line-height: 1;
	font-size: 12px
}
.Page-page-aq7i_{
	font-size: 11px;
}
.nav-header>li>a{
	font-size: 13px;
	line-height: 1px;
}
.SidebarMenuButton-sidebarMenuSecondaryTitle-2jpJL{
	font-size: 10px;
}
.nav-bar{
	font-size: 20px
}
.dropdown-poster-toggle .media-poster{
	width: 25px;
	height: 25px;
}
.FullPage-container-17Y0c{
	font-size: 10px;
}
.ServerSidebar-sidebarContent-3hRNR{
	padding-top: 0px;
	padding-left: 5px;
}
.PageContent-innerPageContent-3ktLT{
	padding: 20px;
}	
.AudioVideoPlayerControls-durationContainer-3TK0D{
	text-align: left;
	padding-left: 10px;
	transform: translateY(28px);
}
.AudioVideoPlayerControls-buttonGroupCenter-Vok98{
	transform: translate(-110px, -7px) scale(1);
}
.AudioVideoPlayerControls-buttonGroupRight-17650{
	transform: translateX(-125px) scale(0.6);
}
.DurationRemaining-container-1F4w8{	
	font-size: 11px;
} 
.MetadataPosterCell-continueWatchingTitleContainer-3yCAY{
	font-size: 10px;
}  
.MetadataPosterCell-titleContainer-24DI6{
	font-size: 10px;
}
.nav-dropdown .dropdown-poster-toggle{
	display: none;
}
.nav-bar-nav>li>a{
	line-height: 40px;
}
.PageHeader-pageHeader-18RSw{
	height: 40px;
}
.SidebarMenuButton-sidebarMenuButton-khx_P{
	height: 40px;
}
.Slider-slider-2oLVT{
	width: 40px;
}
.DisclosureArrow-disclosureArrow-1KPaB.DisclosureArrow-medium-20Idw.DisclosureArrow-up-L-Dw3 {
	display: none;
}
.DisclosureArrowButton-disclosureArrowButton-11LSb.DisclosureArrowButton-medium-3zt1W{
	padding-right: 0px;
}
.PageHeaderBreadcrumbButton-button-1uaPj{
	margin-right: 0px;
}
.MetadataPosterTitle-singleLineTitle-24_DN{
	height: 14px;
}
.HubCellHeader-hubCellHeader-2pvYN{
	padding: 10px 0 0px 5px;
}
.PrePlayMetadataContent-content-2ww3j{
	padding-left: 0px;
}
	
	
	
/*Individual Media Items*/
	div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PageContent-innerPageContent-"] div{
	position: initial !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataContent-content-"]{
	padding-left: 0px !important;
	padding-top: 20px !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="MetadataPosterCard-card-"]{
	margin: auto !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataContent-content-"]{
	line-height: 1.25 !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataInnerContent-innerContent-"]{
	padding: 0 !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlaySecondaryTitle-secondaryTitle-"]{
	display: inline !important;
}
div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayRatingRightTitle-ratingRightTitle-"]{
	display: inline-block !important;
	margin-left: 0px !important;
}
}
